<%- include("partials/header") -%>

    <% postList.forEach((post)=>{  %>
        <div class="col-md-12">
            <h1><a href="/posts/<%= post.title %>"><%= post.title %></a></h1>
            <p><%= post.post %></p>
            <span class="badge">Posted: <%= post.time.toDateString() %>, <%= post.time.toTimeString() %></span>
        </div>  
    <% }) %>

<%- include("partials/footer") -%>