<%- include("partials/header") -%>

    <% postList.forEach((post)=>{  %>
        <div class="col-md-12">
            <h1><%= post.title %></h1>
            <p><%= post.post %></p>
            <span class="badge">Posted <%= post.time %></span>
        </div>  
    <% }) %>

<%- include("partials/footer") -%>